
:root {
    font-size: 16px;
}

.banner
{
display: flex;
flex-direction: row;
background-color: #00ccff;
padding: 10px;
margin: 10px;
border-radius: 3vh;
flex-position:center;
justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: #00ccff;
  padding: 10px;
  margin: 10px;
  border-radius: 3vh;	
  font-family:sans-serif;
  font-size: 1.1rem;
}




.paragraph 
{
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  padding: 1vw;
  margin: 10px;
  font-family:sans-serif;
  background:#ABF312;
  border-radius: 3vh;
 
}


body {
  padding: 0.7em; 
    background:black;
}

img{
	
	height:20vw;
	width :20vw;
	padding: 0.7em; 
	

}
.image-icon{
	
	height:10vw;
	width :10vw;
	padding: 1 em; 
	

}
.image-icon-linkden{
	
	height:5vw;
	width :5vw;
	padding: 0.7 em; 
	

}
p{
	padding: 1 em;
}




@media only screen and (max-width: 875px) {
 

  .container {
  display: flex;
  flex-direction: column;
  flex-wrap :wrap;
}

  .paragraph {
  display: flex;
  flex-direction: column;
  flex-wrap :wrap;
}

}